---
import Image from 'astro/components/Image.astro'
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import 'animate.css';

import posts from '../../assets/json/gallery.json'

export async function getStaticPaths() {
  const data = posts;

  return data.map((post) => {
    return {
      params: { post: post.title.replaceAll(' ', '-').toLowerCase() },
      props: { post },
    }
  })
}

const { post } = Astro.props
---

<DefaultLayout title={post.title} description={post.body} url={post.title} image={post.image_url}>
  <div class="container">
    <div class="mt-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem href="/gallery" label="Gallery" />
        <BreadcrumbsItem currentPage={true} label={post.title} />
      </Breadcrumbs>
    </div>
  </div>
  <section class="my-12">
    <div class="container">
      <h1 style="animation-delay: 0s; animation-duration: 3s" class="animate__animated animate__fadeIn">{post.title}</h1><br />
      <!-- <p>By userId: {post.userId}</p> -->
    </div>
  </section>
  <section class="my-12">
    <div class="container">
      <img src={'../'+post.image_url} alt={post.title} style="animation-delay: 0s; animation-duration: 2s" class="animate__animated animate__fadeIn"/>
      <p style="animation-delay: 1s; animation-duration: 3s" class="text-2xl animate__animated animate__fadeIn">{post.body}</p>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
